<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Computers</title>
  </head>
  <body>
    <h1><%= header%></h1>
    <%if(result.length>0) {%>
    <table>
      <thead>
        <tr>
          <td>id</td>
          <td>Name</td>
          <td>Type</td>
          <td>Processor</td>
          <td>Amount</td>
        </tr>
      </thead>
      <tbody>
        <% result.forEach(pc => { %>
        <tr>
          <td><%= pc.id%></td>
          <td><%= pc.name%></td>
          <td><%= pc.type%></td>
          <td><%= pc.processor%></td>
          <td><%= pc.amount%></td>
        </tr>
        <% })%>
      </tbody>
    </table>
    <%}%>
  </body>
  <a href="/"><button>Home</button></a>
</html>
